
hr{
    width:90%;
    border:1px solid black;
    margin-block:2px;
}
.lcard {
    position: relative;
    margin-bottom:60px;
    margin-left:10px;
    margin-right:auto;
    width: 60vw;
    max-height: 15rem;
    overflow: hidden;
    border-radius: 40px;
    background: rgba(255, 255, 255,0.6);
    padding: 20px;
    display: flex;
    background-position: center;
    object-fit: cover;
}
.lcard:hover{
    background: rgba(255, 255, 255,0.8);
    scale: 1.02;
}

.rightcard{
    margin-right:10px;
    margin-left:auto;
}
.ltext{
    width: 130%;
    display: flex;
    flex-direction: column;
    padding-inline:20px;
    overflow: hidden;
    overflow-y: scroll;
}
.limage {
    grid-area: img;
    width: 100rem;
    height: 12rem;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.lname {
    font-size: 35px;
    text-transform: uppercase;
    grid-area: name;
    padding-left:30px;
}
.ldesc {
    font-weight: bolder;
    grid-area: desc;
    padding:10px 0 0 30px;
}
.elementofchar{
    position: absolute;
    top:clamp(0.2rem,0.8vw,0.8rem);
    right:clamp(0.2rem,0.8vw,0.8rem);
    width: clamp(0.5rem,3vw,3rem);
    height: clamp(0.5rem,3vw,3rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease;
}
.elementofchar:hover{
    scale: 1.1;
}
.ltext::-webkit-scrollbar {
    width: 1px;
}

.ltext::-webkit-scrollbar-track {
    background: none;
    border-radius: 20px;
}

.ltext::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}
@media (max-width: 1500px) {
    .lcard {
        width: 70vw;
    }
    .ltext{
        width: 150%;
    }
    .lname{
        font-size: 30px;
    }
    .ldesc{
        font-size: 15px;
    }
}
@media (max-width: 1200px) {
    .ltext{
        width: 200%;
    }
    .lname{
        font-size: 25px;
    }
    .ldesc{
        font-size: 12px;
    }
    .limage{
        height: 8rem;
    }
    .lcard{
        max-height: 10rem;
        padding: 15px;
        margin-bottom: 40px;
    }
}
@media (max-width: 1000px) {
    .ltext{
        width: 250%;
        padding-left: 0;
    }
    .lname{
        font-size: 20px;
    }
    .ldesc{
        font-size: 10px;
    }
}
@media (max-width: 800px) {
    .ltext{
        width: 300%;
    }
    .limage{
        height: 6rem;
        border-radius: 30px;
    }
    .lname{
        font-size: 15px;
    }
    .ldesc{
        font-size: 8px;
        padding-top: 5px;
    }
    .lcard{
        max-height: 8rem;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 30px;
    }
    
}
@media (max-width: 650px) {
    .ltext{
        width: 400%;
        overflow-y: scroll;
    }
    .limage{
        height: 5rem;
        border-radius: 20px;
    }
    .lname{
        font-size: 10px;
        padding-left: 15px;
    }
    .ldesc{
        font-size: 7px;
        padding-left: 15px;
        padding-top: 1px;
    }
    .lcard{
        max-height: 6rem;
        padding: 5px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    
}
@media (max-width: 450px) {
    .ltext{
        width: 500%;
        padding-right: 5px;
    }
    .limage{
        height: 3.4rem;
        border-radius: 10px;
    }
    .lcard{
        max-height: 4rem;
        border-radius: 10px;
    }
    .lname{
        font-size: 8px;
    }
    .ldesc{
        font-size: 6px;
    }
}
@media (max-width: 350px) {
    .ltext{
        width: 900%;
    }
    .limage{
        height: 2.5rem;
        border-radius: 5px;
    }
    .lcard{
        max-height: 3rem;
        border-radius: 5px;
    }
    .lname{
        font-size: 7px;
    }
    .ldesc{
        font-size: 5px;
    }
}