
hr{
    width:90%;
    border:1px solid black;
    margin-block:2px;
}
.lcard {
    margin-block:60px;
    margin-left:10px;
    margin-right:auto;
    width: 60vw;
    max-height: 15rem;
    overflow: hidden;
    border-radius: 40px;
    background: rgba(255, 255, 255,0.6);
    padding: 20px;
    display: flex;
}
.rightcard{
    margin-right:10px;
    margin-left:auto;
}
.ltext{
    display: flex;
    flex-direction: column;
    padding-inline:20px;
    overflow: hidden;
    overflow-y: scroll;
}
.limage {
    grid-area: img;
    width: 100rem;
    height: 12rem;
    border-radius: 40px;
    overflow: hidden;
}
.lname {
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(193, 118, 255, 0.75);
    grid-area: name;
    padding-left:30px;
}
.ldesc {
    font-family: 'system-ui';
    grid-area: desc;
    padding:10px 30px 0 30px;
}
.ltext::-webkit-scrollbar {
    width: 1px;
}

.ltext::-webkit-scrollbar-track {
    background: none; /* Track background */
    border-radius: 20px; /* Rounded edges */
}

.ltext::-webkit-scrollbar-thumb {
    background: #fff; /* Scrollbar color */ 
    border-radius: 10px; /* Rounded edges */
}