.header {
  padding: 10px 40px;
  margin-inline: 60px;
  background: linear-gradient(
    90deg,
    rgba(217, 161, 255, 0.95),
    rgba(255, 255, 255, 0.75),
    rgba(217, 161, 255, 0.95)
  );
  border-radius: 0px 0px 60px 60px;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap:10rem; */
}
.header > h1 {
  font-size: 50px;
  font-weight: bold;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}
.nav > button {
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: none;
  border: 0px solid white;
  border-radius: 10px;
  transition: background 0.3s ease;
}
.nav > button:hover {
  background: rgba(178, 157, 255, 0.75);
}
.hero {
  position: relative;
  width: 95vw;
  margin: 0px auto;
  height: 70vh;
  border-radius: 0px 0px 80px 80px;
  /* background: linear-gradient(90deg,rgba(55, 108, 255, 0.9),rgba(255, 255, 255, 0.5),rgba(55, 108, 255, 0.9)); */
  background-image: url("/img/genshin_hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
  overflow: hidden;
}
.heroText {
  width: 100%;
  position: absolute;
  bottom: 2rem;
}
.heroText > h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  background: rgba(255, 255, 255, 0.4);
  padding: 12px 5px 0px 5px;
  backdrop-filter: blur(1px);
}
.heroText > h1 > span {
  background: linear-gradient(
    90deg,
    rgb(0, 68, 255),
    rgb(0, 0, 0),
    rgb(0, 68, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 2%;
  font-weight: 500;
}
.heroText > h2 {
    text-align: center;
  font-size: 35px;
  font-weight: lighter;
  margin: auto;
  background: rgba(255, 255, 255, 0.4);
  padding: 0 5px 12px 5px;
  border-radius: 0 0 0 30px;
  backdrop-filter: blur(1px);
}
.swipper-container {
  width: 100%;
  margin: auto;
  margin-block: 50px;
  padding: 30px;
  background: linear-gradient(
    90deg,
    rgba(55, 108, 255, 0.9),
    rgba(255, 255, 255, 0.5),
    rgba(55, 108, 255, 0.9)
  );
  /* border-radius: 20px; */
}
.swiper-image {
  width: 100%;
  height: 300px;
}

.dropDownNav{
    display:none;
}
.dropDownNav > button{
    width:30px;
    height:30px;
    background: none;
    /* padding: 5px 5px; */
    color: #fff;
    border: 5px outset rgba(255, 0, 242,0.5);
    border-radius: 100%;
    cursor: pointer;
}
.dropDownNav > button  > div > hr{
    width: 8px; 
    margin-inline: auto;
}
.dropDownNav > ul{
    position: absolute;
    top: 150%;
    right: 0;
    margin: 0;
    padding : 10px;
    /* background: rgba(217, 161, 255, 0.8); */
    background: linear-gradient(45deg,rgba(245, 171, 255, 0.75),rgba(255, 255, 255, 0.75));
    backdrop-filter: blur(1px);
    border : 1px solid #fff;
    border-radius: 4px;
    box-Shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: popIn 0.75s ease;
}
.dropDownNav > ul > li{
    font-size: 10px;
    padding: 8px; 
    cursor: pointer; 
    border-bottom: 1px solid #ddd;
    transition: background 0.3s ease;
}
.dropDownNav > ul > li:hover{
    background: rgba(255, 255, 255, 0.4);
}
@keyframes popIn{
    0%{
        opacity: 0;
        transform: scale(1);
    }50%{
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@media (max-width: 1800px) {
  .swiper-image {
    height: 250px;
  }
}
@media (max-width: 1450px) {
  .swiper-image {
    height: 200px;
  }
}
@media (max-width: 1250px) {
  .swiper-image {
    height: 150px;
  }
}
@media (max-width: 1050px) {
  .swiper-image {
    height: 200px;
  }
}
@media (max-width: 890px) {
  .swiper-image {
    height: 150px;
  }
}
@media (max-width: 800px) {
  .swiper-image {
    height: 100px;
  }
}
@media (max-width: 600px) {
  .swiper-image {
    height: 200px;
  }
}
@media (max-width: 575px) {
  .swiper-image {
    height: 150px;
  }
}
@media (max-width: 515px) {
  .swiper-image {
    height: 150px;
  }
}
@media (max-width: 420px) {
  .swiper-image {
    width: 100%;
    height: 100px;
  }
}

/* header */
@media (max-width: 1650px) {
  .header > h1 {
    font-size: 40px;
  }
  .nav > button {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
  }
  .heroText > h1 {
    font-size: 30px;
    padding: 10px 5px 0 5px;
  }
  .heroText > h2 {
    font-size: 30px;
  }
}
@media (max-width: 1285px) {
    .hero{
        height: 50vh;
    }
  .header > h1 {
    font-size: 1.5rem;
  }
  .nav {
    gap: 10px;
  }
  .nav > button {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
  .heroText > h1 {
    font-size: 25px;
    padding: 5px 5px 0 5px;
  }
  .heroText > h2 {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
    .hero{
        width: 100vw;
    }
  .header > h1 {
    font-size: 1.5rem;
  }
  .header {
    margin-inline: 20px;
    padding: 5px 20px;
  }
  .nav {
    gap: 5px;
  }
  .nav > button {
    padding: 0.3rem 0.3rem;
    font-size: 0.7rem;
  }
  .heroText > h1 {
    font-size: 20px;
  }
  .heroText > h2 {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
    .hero{
        height: 40vh;
    }
    .header{
        gap:30px;
    }
  .header > h1 {
    font-size: 1.2rem;
  }
  .nav {
    gap: 5px;
  }
  .nav > button {
    padding: 0.3rem 0.3rem;
    font-size: 0.6rem;
  }
  .heroText{
    bottom:2rem;
  }
  .heroText > h1 {
    font-size: 15px;
  }
  .heroText > h2 {
    font-size: 15px;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
  }
}
@media (max-width: 630px) {
    .header > h1 {
        margin: auto;
        padding-left:10%;
      }
    .hero{
        height: 35vh;
    }
    .nav{
        display:none;
    }
    .navOption{
        display:block;
    }
    .dropDownNav{
        display:inline-block;
    }
}
@media (max-width: 500px) {
    .hero{
        height: 30vh;
    }
}